html,
body {
  height: 100%;
}

body {
  /* font-family: 'Noto Sans TC', sans-serif; */
  font-family: "微軟正黑體";
  margin: 0;
}

.h-100 {
  height: 100%;
}

/* ------------------------------- 卷軸樣式設定 ------------------------------ */

/*捲軸寬度 */
::-webkit-scrollbar {
  width: 8px;
  margin-right: 2px;
}

/* 捲軸背景 */
::-webkit-scrollbar-track {
  background: #fff;
}

/* 捲軸把手 */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 1000px;
}

/* 捲軸滑過時 */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}


/* <!---------------------------- YTlogo --------------------------------> */

#icon {
  width: 20%;
  height: 10%;
  top: 0;
  left: 0;
  position: fixed;
}

#icon .YTlogo {
  width: 100%;
  height: 100%;
}

#icon .YTlogo i {
  margin: 1rem;
  left: 5%;
}

#icon .YTlogo img {
  width: 45%;
  left: 10%;
  box-sizing: border-box;
  margin: 1rem 0;
  padding: 0;
}

/* tw 地域 */
#icon .YTlogo p {
  font-size: 0.5rem;
  left: 0%;
  width: 10%;
  margin-top: 0.5rem;
  vertical-align: top;
  display: inline-block;
}

/* <!--------------------------- header 搜尋 ---------------------------> */

#header {
  width: 80%;
  height: 20%;
  position: fixed;
  right: 0;
  background: rgba(255, 255, 255, 0.98);
  z-index: 1;
}

#header .row .col {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em 0;
  margin: 0;
  height: 50%;
  border-bottom: 1px solid lightgray;
}

#header .col li {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5rem;
}

#header .row .col li:nth-child(3) {
  margin-right: 10%;
}

#header .col input {
  width: 55%;
  height: 30px;
  margin-left: 1rem;
}

#header .col .account {
  background: lightcoral;
  border-radius: 1000px;
  width: 40px;
  height: 40px;
  text-align: center;
}

#header .col .account a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

#header .button {
  text-align: center;

  box-sizing: border-box;
  top: 10%;
  margin: 0;
  height: 50%;
  padding: 1rem 0;
  border-bottom: 1px solid lightgray;
}

/* 頂端分類 */
#header .button li {
  display: inline-block;
  padding: 0 0.3rem;
}

#header .button li a {
  display: block;
  text-decoration: none;
  color: #000;
  background: rgb(241, 240, 240);
  border: rgb(220, 217, 217);
  padding: 4px 8px;
  font-size: 0.8rem;
  border-radius: 15px;
}

#header .button li a:hover {
  background: #aaa;
  color: #fff;
  transform: 1s;
}

/* <!--------------------------- Sidebar 側邊欄 ---------------------------> */

#sidebar {
  width: 20%;
  height: 90%;
  top: 10%;
  float: left;
  position: fixed;
  background: #fff;
}

#sidebar .container {
  width: 100%;
  margin: auto;
  height: 100%;
  overflow-y: scroll;
}

#sidebar hr {
  border-color: lightgray;
  width: 90%;
}

#sidebar .col {
  width: 100%;
}

#sidebar .col li {
  list-style: none;
  padding: 0 24px;
}

#sidebar .col i {
  padding-right: 1rem;
}

#sidebar .col li a {
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;
  line-height: 2.3rem;
}

#sidebar .col li:hover {
  background: #ccc;
}

#sidebar .col p {
  color: rgb(92, 92, 92);
  font-size: 0.8rem;
  line-height: 2.3rem;
  margin: 0;
  padding: 0 24px;
}

#sidebar .link01,
.link02 {
  padding: 12px 24px 0 24px;
}

#sidebar .link01 a,
.link02 a {
  text-decoration: none;
  font-size: 0.5rem;
  color: gray;
}

#sidebar .copyright {
  color: #909090;
  font-size: 0.5rem;
  padding: 16px 24px;
}

/* <!--------------------------- section 內容三欄 ---------------------------> */
#content {
  width: 80%;
  top: 20%;
  float: right;
  position: relative;
  background: #fff;

}

#content .container02 {
  position: absolute;
  box-sizing: border-box;
  margin: 0.5rem;
}

#content .row {
  margin: 0;
}

#content .row .card {
  display: inline-block;
  width: 24%;
  box-sizing: border-box;
  margin: 1rem 0.3rem 1rem 0;

}

#content .row .card img#video {
  width: 100%;
  height: 25%;
}

#content .row .card img#logo {
  width: 15%;
  height: 15%;
  float: left;
  margin-left: 0.1rem;
  border-radius: 1000px;
}

#content .card h4 {
  box-sizing: border-box;
  font-weight: normal;
  width: 80%;
  float: right;
  padding: 0 24px 5px 0;
  margin: 0;
  font-size: 0.7rem;
  line-height: 20px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#content .card p {
  margin: 0 0.1rem 0.5rem 0;
  font-weight: normal;
  font-size: 0.5rem;
  width: 80%;
  float: right;
}

#content .card .compilation {
  width: 100%;
}